body {
  font-family: 'Gugi', cursive;
}

.content {
  margin: 10px;
}
.site_title {
  border-bottom: 2px solid #808080;
}
.total {
  margin-bottom: 10px;
}
.search_form {
  margin-bottom: 10px;
}
.history_title div {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.history th,
.history td {
  border-left: 1px solid #dee2e6;
}
